.auth-container {
    background-image: url("../src/assets/auth_bg.png");
    background-size: cover;
    background-position: center center;
}

.bg-overlay {
    background: linear-gradient(
        to right,
        rgba(47, 140, 96, 0.5),
        rgba(0, 0, 0, 0.5)
    );
}

.sidebar-container .sidebar-logo {
    width: 100px;
    height: 100px;
}

.sidebar-container .ps-sidebar-root {
    border-color: #ffffff;
}

.sidebar-container .ps-sidebar-container {
    height: 100vh;
    background: #1f263e;
    color: #ffffff;
    border-top-right-radius: 50px;
}

.sidebar-container .ps-menu-button {
    transition: all 0.3s;
}

.sidebar-container .ps-menu-button:hover {
    background: rgba(0, 146, 77, 0.1) !important;
    border-left: 5px solid #009247;
}

.sidebar-container .logo-li a:hover {
    background: transparent !important;
    border-left: none;
}

.custom-min-height {
    min-height: 200px; /* Set your desired minimum height */
}

.btn-group .dropdown-toggle::after {
    content: none;
}
.btn-group .dropdown-toggle {
    cursor: pointer;
}

.table-container thead {
    --bs-table-bg: rgba(226, 229, 235, 1);
    /* --bs-table-b */
}
